.EntirePage{
    width: 75%;
}
.scoregridarea { grid-area: scoregridarea; }

.yahtzeegrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}
#scorecard td, th {
    border: 1px solid black;
    font-weight: normal;
}

table {
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
}

#scorecard tr.lastline {
    border-bottom: solid 2px;
}

#scorecard th {
    text-align: left;
    white-space: nowrap;
    padding: 4px;
    /*font-size: 12px;*/
}

#scorecard td {
    text-align: center;
    white-space: nowrap;
    padding: 4px;
    /*font-size: 12px;*/
}

#scorecard-column {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    max-width: 194px;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 0;
    margin-top: 40px;
}
table.right {
    margin-left:auto;
    margin-right:0;
}
div.right{
    margin-left:auto;
    margin-right:0;
}
.diegrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 140px 140px 100px;
    color: #333333;
}
.diegrid > div {
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    /*background-color: #F8EDEB;*/
}
.rollgriddisplay {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px;
    color: #333333;
}
.rollgriddisplay > div {
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    /*background-color: #F8EDEB;*/
}
#backgroundColorRound{
    background-color: rgba(197, 173, 111, 0.7);
    border-radius: 17px;
    border: 5px solid #7D602D;
    height: 100%;
    box-sizing: border-box;
}
.yahHeader {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px;
    margin: 10px;
    color: #333333;
    font-size: 35px;
    text-align: center;
    border-radius: 17px;
    /*background: rgb(223,199,136);*/
    background: radial-gradient(circle, rgba(223,199,136,0.6376925770308124) 0%, rgba(227,207,156,0.623686974789916) 29%, rgba(237,221,179,0.1390931372549019) 94%);

}
.yahHeaderCol{
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 80px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 10px;
}
.left{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
img.left{
    border-radius: 17px;
}
.right2{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
img.right2{
    border-radius: 17px;
}
#loss, #wins, #tWins, #draws {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    background-color: #bbbbbb;
    font-size: 19px;
}
#cardResults {
    border: 1px solid black;
}
#rollarea {
    grid-column: 1 / span 5;
}
#UpperSecDiv {
    background-color: #FAE1DD;
    grid-column: 1 / span 6;
}
#LowerSecDiv {
    background-color: #FAE1DD;
    grid-column: 1 / span 7;
}
#ScoringDiv {
    background-color: #FAE1DD;
    grid-column: 1 / span 5;
}
#betrec {
    font-size: 20px;
}
#D1CheckHide, #D2CheckHide, #D3CheckHide, #D4CheckHide, #D5CheckHide, #temp, #RoundCount {
    font-size: 16px;
}
#KeepHide, #RoundDisplay {
    font-size: 16px;
    color: #FE5F55;
}
.topnav {
    overflow: hidden;
    background-color: #333333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #C5AD6F;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
